# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.JuegoDeNavesParaMoviles.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\VideoJuegos\JuegoDeNavesParaMoviles\.idea\.idea.JuegoDeNavesParaMoviles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
